body{
    background-color: #fff;
}


header{
    background-color: #d05c2e;
    color: #fff;
}

.banner {
    font-size: 2rem;
    text-align: center;

    
}

.left-grain {
    float: left;
    width: 40px;
    padding: .4rem 0;
    margin: .3rem;
}

.right-grain {
    float: right;
    clear: right;
    width: 40px;
    padding: .4rem 0;
    margin: .3rem;
}

.top-nav {
    clear: both;
}

.top-nav a{
    float: left;
    text-decoration: none;
    font-size: 1.125rem;
    padding: .4rem;
    line-height: 1.5;
}

.top-nav a:hover{
    background-color: #a63f38;
    
}