html {
  box-sizing:inherit;
  
}

*, *::before, *::after {
  margin-top: 0;
}


header{
    background-color: #d05c2e;
    color: #fff;
    padding: 0 0 .7rem;
    font-family: 'Merriweather', sans-serif;
    
 
}

.banner {
    font-size: 1.125rem;
    text-align: center;
    

    
}

.left-grain {
    float: left;
    width: 40px;
    padding: .4rem 0;
    margin: .3rem;
}

.right-grain {
    float: right;
    width: 40px;
    padding: .4rem 0;
    margin: .3rem;
    

}

.top-nav a{
    
    padding: .4rem;
    line-height: 1.5;
    border-style: solid;
    border-color: #a63f38;
    
    
}

.top-nav a:hover{
    background-color: #a63f38;
    
    
    
}

a{
    text-decoration: none;
    padding-left: .5em;
    font-size: 2rem;
    color: #fff;
    
    
}